@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
  font-family:  'Amiri', serif;
  margin: 0;
  padding: 0;
}

body {
  transition: transform 0.5s ease;
}

img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  padding: 1%;
}

body.shownav {
  transform: translateX(200px);
}

#navigation {
  background-color: hsla(195, 100%, 25%, 1);
  position: fixed;
  top:0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  padding: 1%;
  text-align: center;
  transform: translateX(-100%);
}

#userlogo {
  margin: 5% auto;
}

#menu {
  margin-top:100px;
}

#menu li a {
  text-decoration: none;
  color:white;
}

#menu li {
  list-style-type: none;
  margin-top: 20px;
  font-size: 110%;
  border-bottom:2px solid hsla(195, 100%, 48%, 0.19);
  padding: 10px;
}


#menu li:first-of-type {
  border-top:2px solid hsla(195, 100%, 48%, 0.19);
}


#headcont {
  background: linear-gradient(90deg, rgba(58,2,79,1) 0%, rgba(136,22,193,1) 53%, rgba(115,20,164,1) 100%);
  height: 50vh;
  text-align: center;
  padding:40px 15px;
  color:white;
  position: relative;

}

#headcont h1{
font-size: 300%;
margin-bottom:1%;
}

#headcont h3{
font-size: 150%;
margin-bottom:1%;
}

#headcont p{
font-size: 130%;
margin-bottom:1%;
}

button {
  background-color: rgba(230, 0, 0, 1);
  padding: 5px;
  border-radius: 5px;
  border: 1px white solid;
  color:white;
}

#signup {
  font-size: 120%;
  box-shadow: 2px 2px 5px black;
  margin-top: 2%;
  transition: background-color .2s ease-in;
}

#signup:hover {
  background-color: orangered;
}

#toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(54, 0, 82, 1);
  border-radius:2px;
  width:30px;
}

button:focus {
  outline: none;
}


#pagecont {
  width: 70%;
  margin: 1% auto;
  font-size: 120%;
}

#pagecont p {
  text-align: justify;
  margin-top: 2%;
}
#pagecont h2 {
  text-align: center;
  margin:2%;
}

#pagecont h3 {
  text-align: center;
  margin-top: 2%;
}
#pagecont ul {
    margin-top: 2%;
}

#pagecont ul li {
  list-style-type: none;
  font-size:110%;
  margin: 1%;
  text-align: center;
  color: white;
  padding: 1%;
}

#pagecont ul li:nth-child(odd) {
  background-color: rgba(20, 110, 255, 1);
  border-radius: 5px;
}

#pagecont ul li:nth-child(even) {
  background-color: rgba(105, 0, 224, 1);
  border-radius: 5px;
}

#modal {
  background-color: hsla(268, 95%, 52%, 0.5);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display:none;
}

#modal.showmodal {
  display: block;
  animation: show 1s;
}

#modal-cont {
  position: relative;
  background-color: white;
  width: 40%;
  padding:3%;
  position: absolute;
  top:10%;
  left: 30%;
  border-radius: 5px;
}

.form-item label{
display: block;
margin-bottom: 1%;
}

.form-item input{
width: 100%;
height:25px;
margin-bottom:2%;
}

#submit {
  width: 100%;
  margin: 2% auto;
  font-size: 110%;
  background-color: purple;
}

#modal-head {
  text-align: center;
  font-size: 110%;
}


#closeicon {
  background-color: purple;
  position: absolute;
  top:5px;
  right:5px;
  width: 50px;
  transition: background-color .5s ease;
}

#closeicon:hover {
background-color: red;
}


@keyframes show {
from { opacity: 0;}
to  { opacity: 1;}
}
